<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Form</title>

    <style>
        .error {
            color: red;
        }
    </style>

</head>
<body>

FIll the form. Enter data in required fields.
<br><br>

<form th:action="@{/proceessForm}" th:object="${client}" method="post">

    First name: <input type="text" th:field="*{firstName}">
    <br><br>
    Last name*: <input type="text" th:field="*{lastName}">

    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="${client.lastName}"
          class="error">
    </span>

    <br><br>
    <input type="submit">
</form>

</body>
</html>